set servername {{ isp_server_name }}
accept date
set actlogretention {{ isp_setopt_actlogretention }}
setopt expinterval {{ isp_setopt_expinterval }}
setopt maxsession {{ isp_setopt_maxsession }}
setopt deduprequiresbackup {{ isp_setopt_deduprequiresbackup }}
setopt dnslookup {{ isp_setopt_dnslookup }}
setopt commtimeout {{ isp_setopt_commtimeout }}
setopt idletimeout {{ isp_setopt_idletimeout }}
setopt allowreorgtable {{ isp_setopt_allowreorgtable }}
setopt allowreorgindex {{ isp_setopt_allowreorgindex }}
setopt reorgbegintime {{ isp_setopt_reorgbegintime }}
setopt reorgduration {{ isp_setopt_reorgduration }}
setopt clientdeduptxnlimit {{ isp_setopt_clientdeduptxnlimit }}
setopt serverdeduptxnlimit {{ isp_setopt_serverdeduptxnlimit }}
setopt deduptier2filesize {{ isp_setopt_deduptier2filesize }}
setopt deduptier3filesize {{ isp_setopt_deduptier3filesize }}
setopt dateformat {{ isp_setopt_dateformat }}
setopt numopenvolsallowed {{ isp_setopt_numopenvolsallowed }}
setopt backupinitiationroot {{ isp_setopt_backupinitiationroot }}